sudo: false
language: php

services:
  - mongodb
  - postgresql

php:
  - '7.1'
  - '7.2'

env:
  global:
    - POSTGRES_HOST=localhost
    - POSTGRES_PORT=5432
    - POSTGRES_PASSWORD=password
    - POSTGRES_USER=user
    - POSTGRES_DB=database
    - POSTGRES_TABLE=event_store
    - DATABASE_URL=pgsql://postgres@localhost:5432/database
    - MONGODB_HOST=localhost
    - MONGODB_PORT=27017
    - MONGODB_DB=botilka_test
    - MONGODB_COLLECTION=event_store_test
  matrix:
    - deps=low
    - deps=high

matrix:
  allow_failures:
    - env: deps=low

before_script:
  - composer global require friendsofphp/php-cs-fixer
  - export PATH="$PATH:$HOME/.composer/vendor/bin"

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover
  - vendor/bin/phpstan analyse
  - php-cs-fixer fix --allow-risky=yes --dry-run

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

install:
  - pecl -qs install mongodb
  - if [[ $deps = 'low' ]]; then
      composer update --prefer-dist --no-progress --no-suggest --ansi --prefer-stable --prefer-lowest;
    else
      composer update --prefer-dist --no-progress --no-suggest --ansi;
    fi

cache:
  directories:
    - $HOME/.composer/cache
