sudo: false
language: php

php:
  - '7.1'
  - '7.2'

env:
  - deps=low
  - deps=high

matrix:
  allow_failures:
    - env: deps=low

before_script:
  - composer global require friendsofphp/php-cs-fixer
  - export PATH="$PATH:$HOME/.composer/vendor/bin"

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover
  - vendor/bin/phpstan --level=max analyse src tests
  - php-cs-fixer fix --allow-risky=yes --dry-run

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

install:
  - if [[ $deps = 'low' ]]; then
      composer update --prefer-dist --no-progress --no-suggest --ansi --prefer-stable --prefer-lowest;
    else
      composer update --prefer-dist --no-progress --no-suggest --ansi;
    fi

cache:
  directories:
    - $HOME/.composer/cache
