sudo: false
language: php

services:
  - mongodb
  - postgresql

php:
  - '7.1'
  - '7.2'
  - '7.3'

env:
  global:
    - DATABASE_URL=pgsql://postgres@localhost:5432/database
    - POSTGRES_TABLE=event_store
    - MONGODB_URL=mongodb://localhost:27017
    - MONGODB_DB=botilka
    - MONGODB_COLLECTION=event_store
  matrix:
    - deps=low
    - deps=high

matrix:
  allow_failures:
  - php: '7.3'

before_script:
  - composer global require friendsofphp/php-cs-fixer
  - export PATH='$PATH:$HOME/.composer/vendor/bin'

script:
  - vendor/bin/phpunit --group default,functional --coverage-clover=coverage.clover
  - vendor/bin/phpstan analyse
  - php-cs-fixer fix --allow-risky=yes --dry-run

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

install:
  - pecl -q install mongodb || true
  # mongodb.so is enabled with PHP 7.1
  - if [[ $TRAVIS_PHP_VERSION != '7.1' ]]; then echo 'extension=mongodb.so' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi
  - if [[ $deps = 'low' ]]; then
      composer update --prefer-dist --no-progress --no-suggest --ansi --prefer-stable --prefer-lowest;
    else
      composer update --prefer-dist --no-progress --no-suggest --ansi;
    fi

cache:
  directories:
    - $HOME/.composer/cache
