parameters:
	ignoreErrors:
		-
			message: "#^Method Botilka\\\\Tests\\\\AbstractKernelTestCase\\:\\:bootKernel\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/AbstractKernelTestCase.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Application\\\\Command\\\\EventSourcedCommandResponseTest\\:\\:fromEventSourcedAggregateRootProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Application/Command/EventSourcedCommandResponseTest.php

		-
			message: "#^PHPDoc tag @var for variable \\$collection has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/DataProvider/CommandDataProviderTest.php

		-
			message: "#^PHPDoc tag @var for variable \\$collection has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/DataProvider/QueryDataProviderTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Description\\\\DescriptionContainerTest\\:\\:hasProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Description/DescriptionContainerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\EventListener\\\\CommandResourceClassEventListenerTest\\:\\:onKernelRequestCommandNotExistingProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/EventListener/CommandResourceClassEventListenerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\EventListener\\\\CommandResourceClassEventListenerTest\\:\\:getEvent\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/EventListener/CommandResourceClassEventListenerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\EventListener\\\\QueryResourceClassEventListenerTest\\:\\:onKernelRequestQueryNotExistingProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/EventListener/QueryResourceClassEventListenerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\EventListener\\\\QueryResourceClassEventListenerTest\\:\\:getEvent\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/EventListener/QueryResourceClassEventListenerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\EventListener\\\\QueryResourceClassEventListenerTest\\:\\:getEvent\\(\\) has parameter \\$query with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/EventListener/QueryResourceClassEventListenerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Identifier\\\\IdentifierGeneratorTest\\:\\:generateProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Identifier/IdentifierGeneratorTest.php

		-
			message: "#^Parameter \\#4 \\$formats of class Botilka\\\\Bridge\\\\ApiPlatform\\\\Metadata\\\\Resource\\\\Factory\\\\BotilkaQueryResourceMetadataFactory constructor expects array\\<string, array\\<int, string\\>\\>, array\\<string, array\\<int, string\\>\\|string\\> given\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Metadata/Resource/Factory/BotilkaQueryResourceMetadataFactoryTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Swagger\\\\SwaggerCommandBodyNormalizerTest\\:\\:testNormalize\\(\\) has parameter \\$expected with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Swagger/SwaggerCommandBodyNormalizerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Swagger\\\\SwaggerCommandBodyNormalizerTest\\:\\:testNormalize\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Swagger/SwaggerCommandBodyNormalizerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Swagger\\\\SwaggerCommandBodyNormalizerTest\\:\\:normalizeProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Swagger/SwaggerCommandBodyNormalizerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Swagger\\\\SwaggerQueryParameterNormalizerTest\\:\\:testNormalize\\(\\) has parameter \\$expected with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Swagger/SwaggerQueryParameterNormalizerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Swagger\\\\SwaggerQueryParameterNormalizerTest\\:\\:testNormalize\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Swagger/SwaggerQueryParameterNormalizerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\ApiPlatform\\\\Swagger\\\\SwaggerQueryParameterNormalizerTest\\:\\:normalizeProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/ApiPlatform/Swagger/SwaggerQueryParameterNormalizerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\Symfony\\\\Bundle\\\\BotilkaBundleTest\\:\\:buildProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/BotilkaBundleTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\Symfony\\\\Bundle\\\\DependencyInjection\\\\BotilkaExtensionTest\\:\\:prependWithDefaultMessengerProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/DependencyInjection/BotilkaExtensionTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\Symfony\\\\Bundle\\\\DependencyInjection\\\\BotilkaExtensionTest\\:\\:prependApiPlatformWithDoctrineProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/DependencyInjection/BotilkaExtensionTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\Symfony\\\\Bundle\\\\DependencyInjection\\\\BotilkaExtensionTest\\:\\:loadProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/DependencyInjection/BotilkaExtensionTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\Symfony\\\\Bundle\\\\DependencyInjection\\\\Compiler\\\\ApiPlatformDescriptionContainerPassTest\\:\\:parameterNotTypedProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/DependencyInjection/Compiler/ApiPlatformDescriptionContainerPassTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Bridge\\\\Symfony\\\\Bundle\\\\DependencyInjection\\\\Compiler\\\\ApiPlatformDescriptionContainerPassTest\\:\\:processNoConstructorProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/DependencyInjection/Compiler/ApiPlatformDescriptionContainerPassTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreManagerMongoDBTest\\:\\:setUpEventStore\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreManagerMongoDBTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreManagerMongoDBTest\\:\\:loadByAggregateRootIdProviderFunctional\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreManagerMongoDBTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreManagerMongoDBTest\\:\\:loadByDomainFunctionalProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreManagerMongoDBTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreManagerMongoDBTest\\:\\:getProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreManagerMongoDBTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreMongoDBFunctionnalTest\\:\\:setUpEventStore\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreMongoDBFunctionnalTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreMongoDBFunctionnalTest\\:\\:loadFunctionalProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreMongoDBFunctionnalTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreMongoDBFunctionnalTest\\:\\:loadFromPlayheadFunctionalProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreMongoDBFunctionnalTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\EventStoreMongoDBFunctionnalTest\\:\\:loadFromPlayheadToPlayheadFunctionalProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/EventStoreMongoDBFunctionnalTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Fixtures\\\\Domain\\\\StubEventSourcedAggregateRoot\\:\\:stub\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Fixtures/Domain/StubEventSourcedAggregateRoot.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\Doctrine\\\\EventStoreDoctrineTest\\:\\:addLoadAssertions\\(\\) has parameter \\$executeParameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/Doctrine/EventStoreDoctrineTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\Doctrine\\\\EventStoreManagerDoctrineTest\\:\\:testLoadByAggregateRootId\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/Doctrine/EventStoreManagerDoctrineTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\Doctrine\\\\EventStoreManagerDoctrineTest\\:\\:loadByAggregateRootIdProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/Doctrine/EventStoreManagerDoctrineTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\Doctrine\\\\EventStoreManagerDoctrineTest\\:\\:getProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/Doctrine/EventStoreManagerDoctrineTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\Doctrine\\\\EventStoreManagerDoctrineTest\\:\\:getRows\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/Doctrine/EventStoreManagerDoctrineTest.php

		-
			message: "#^Parameter \\#3 \\$type of class Botilka\\\\Infrastructure\\\\Doctrine\\\\Event constructor expects class\\-string, string given\\.$#"
			count: 1
			path: tests/Infrastructure/Doctrine/EventTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\InMemory\\\\EventStoreManagerInMemoryTest\\:\\:loadByAggregateRootIdProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/InMemory/EventStoreManagerInMemoryTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\InMemory\\\\EventStoreManagerInMemoryTest\\:\\:loadByDomainProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/InMemory/EventStoreManagerInMemoryTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\Initializer\\\\AbstractMongoDBStoreInitializerTest\\:\\:initializeProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/Initializer/AbstractMongoDBStoreInitializerTest.php

		-
			message: "#^Method Botilka\\\\Tests\\\\Infrastructure\\\\MongoDB\\\\Initializer\\\\AbstractMongoDBStoreInitializerTest\\:\\:assertInitialize\\(\\) has parameter \\$createIndexParams with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Infrastructure/MongoDB/Initializer/AbstractMongoDBStoreInitializerTest.php

