services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $table: '%env(POSTGRES_TABLE)%'

    Botilka\Infrastructure\Doctrine\EventStoreDoctrine: ~
    Botilka\EventStore\EventStore: '@Botilka\Infrastructure\Doctrine\EventStoreDoctrine'

    Botilka\Infrastructure\Doctrine\SnapshotStoreDoctrine:
        arguments:
            $table: '%env(SNAPSHOT_STORE_COLLECTION)%'
    Botilka\Snapshot\SnapshotStore: '@Botilka\Infrastructure\Doctrine\SnapshotStoreDoctrine'

    Botilka\Infrastructure\Doctrine\EventStoreManagerDoctrine: ~
    Botilka\EventStore\EventStoreManager: '@Botilka\Infrastructure\Doctrine\EventStoreManagerDoctrine'

    Botilka\Infrastructure\Doctrine\Initializer\EventStoreDoctrineInitializer: ~

    Botilka\Infrastructure\Doctrine\Initializer\SnapshotStoreDoctrineInitializer:
        arguments:
            $table: '%env(SNAPSHOT_STORE_COLLECTION)%'
